.Foot {
    list-style:none;
    font-size:18px;
    text-align: center;
}

.inline {
    display: inline;
    margin-left: 10px;
    float: left;
}
.inline a:hover {
    color: #0070f3;
    text-decoration: none;
  }

.inline:first-child {
    margin-left: 0;
}